.weightpage1-container {
  min-height: 100vh;
}
.weightpage1-weightpage {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 23px;
  background-color: rgba(255, 252, 249, 1);
}
.weightpage1-text {
  top: 32px;
  left: 24px;
  color: rgba(111, 81, 81, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.weightpage1-text02 {
  top: 67px;
  left: 24px;
  color: rgba(105, 90, 90, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.weightpage1-line10 {
  top: 103px;
  left: 24px;
  width: 342px;
  height: 0px;
  position: absolute;
}
.weightpage1-close2-outline {
  top: 43px;
  left: 342px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.weightpage1-frame2 {
  top: 731px;
  left: 57px;
  width: 287px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 37px;
  background-color: rgba(105, 90, 90, 1);
  opacity: 1;
  transition: 0.3s;
}
.weightpage1-frame2:hover {
  opacity: 0.6;
}
.weightpage1-text04 {
  top: 15px;
  left: 119px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Nunito;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.weightpage1-frame25 {
  top: 139px;
  left: 24px;
  width: 342px;
  height: 138px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 2px;
  background-color: rgba(242, 248, 186, 1);
}
.weightpage1-rectangle22 {
  top: 0px;
  left: 0px;
  width: 342px;
  height: 31px;
  position: absolute;
  border-color: transparent;
}
.weightpage1-text06 {
  top: 4px;
  left: 241px;
  color: rgba(100, 81, 81, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.weightpage1-text08 {
  top: 4px;
  left: 10px;
  color: rgba(100, 81, 81, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.weightpage1-line11 {
  top: 0px;
  left: 100px;
  width: 392px;
  height: 0px;
  position: absolute;
}
.weightpage1-text10 {
  top: 5px;
  left: 121px;
  color: rgba(100, 81, 81, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.weightpage1-line12 {
  top: 0px;
  left: 200px;
  width: 392px;
  height: 0px;
  position: absolute;
}
.weightpage1-text12 {
  top: 38px;
  left: 31px;
  color: rgba(100, 81, 81, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.weightpage1-text14 {
  top: 38px;
  left: 130px;
  color: rgba(100, 81, 81, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.weightpage1-text16 {
  top: 38px;
  left: 231px;
  color: rgba(100, 81, 81, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.weightpage1-text18 {
  top: 73px;
  left: 231px;
  color: rgba(100, 81, 81, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.weightpage1-text20 {
  top: 73px;
  left: 30px;
  color: rgba(100, 81, 81, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.weightpage1-text22 {
  top: 73px;
  left: 135px;
  color: rgba(100, 81, 81, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.weightpage1-line13 {
  top: 66px;
  left: 0px;
  width: 342px;
  height: 0px;
  position: absolute;
}
.weightpage1-line14 {
  top: 102px;
  left: 0px;
  width: 342px;
  height: 0px;
  position: absolute;
}
.weightpage1-line16 {
  top: 138px;
  left: 0px;
  width: 342px;
  height: 0px;
  position: absolute;
}
